@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/** navbar style **/

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

#navbar ul:first-child > li:hover, #navbar .option { color: white;}

#navbar ul:first-child li:hover > a, #navbar ul:first-child li:hover > a:visited, #navbar .option, #navbar .option:visited { background: none; }

.option:hover {
    opacity:0.5;
}
.navbar {
    background-color:#324C61;
    opacity:0.7;
}

.icon-bar {
    background-color:white;
}

.navbar-brand {
    color:darkblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:400;
    font-size:1.5em;
}

.clicked {
    background:white;
}

.side {
    margin-right:40px;
}

.signoutBtn {
    margin-top:10px;
    border:none;
    outline:none;
    background-color:transparent;
}

.navbar-brand,.navbar-brand:hover,.navbar-brand:active, .navbar-brand:visited {
    outline:none;
    color:whitesmoke;
}

.active { 
    border-bottom:2px solid indianred;
    opacity:0.7;
    outline:none;

}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #223442;
    border-right: 1px solid #eee;
    width:240px;
}

/*** buttons **/
.hi {
    margin-top:55px;
    margin-left:235px;
}
.btnSidebar {
    color: white;
}

.btnSidebar.active, .btnSidebar:active, .open > .dropdown-toggle.btnSidebar {
    
    opacity:0.4;
    outline:none;
    
}

.btnSidebar:hover {
    color:white;
    opacity:0.5;
}


/** signin/ signup form **/

.mForm {
    margin-top:100px;
    background:#324C61;
    padding:40px;
    max-width:600px;
    opacity:0.8;
    border-radius:4px;
    box-shadow:0 4px 10px 4px rgba(19,35,47,0.3);
    display:block;
    
}
.form-control {
    margin-bottom:10px;
}
.control-label {
    color:white;
    font-size:1.5rem;
    opacity:0.4;
    margin-bottom:10px;
}


.signup {
    border:none;
    outline:none;
    padding:15px 0;
    font-size:2rem;
    font-weight:600;
    background-color:indianred;
    opacity:0.8;
    color:whitesmoke;
    text-transform:uppercase;
    letter-spacing:.1em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    width:420px;
    margin-left:15px;
}
.signup:hover {
    background-color:indianred;
}

.mainTitle {
    background-color:transparent;
    color:white;
    text-transform:uppercase;
  
    
}

/********** dashboard *********************/
.center-block {
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.main {
    margin-top:51px;
    position:center;
    margin-left:280px;
}

hr { 
    display: block;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color:indianred;
} 

.delete {
    background-color:transparent;
    border:none;
    outline:none;
    margin-top:-10px;
    margin-left:-10px;
    color:indianred;
}

.bookStuff {
    width:240px;
}
/***book/update profile form *********/

.formClass {
    max-width:600px;
    margin-top:30px;
    display:block;
}

.input:focus,textarea:focus {
    box-shadow: 0 0 5px rgba(205, 92, 92, 1);
    border:1px solid indianred;
    opacity:0.6;
}

.add {
    border:none;
    outline:none;
    background-color:indianred;
    opacity:0.6;
    color:whitesmoke;
    width:100px;
    height:30px;
    font-size:1.6rem;
    text-transform:uppercase;
}
.status {
    padding-top:10px;
    margin-bottom:-10px;
}

.bottom{
    margin-top:100px;
}

.toggleButton {
    margin-top:54px;
    margin-left:240px;
}
.notification {
    font-size:1.2em;
    max-width:240px;
}

.toggle {
    margin-left:500px;
    margin-top:100px;
}
.addButton {
    border:none;
    outline:none;
    background-color:indianred;
    opacity:0.6;
    color:whitesmoke;
    font-size:1.4rem;
}



/********** book view *************************/
.bookMain {
    margin-top: 50px;
}

.imgs {
    height:200px;
}

.select {
    border:none;
    outline:none;
    background-color:transparent;
    opacity:0.6;
    font-size:1.5rem;
}
.select:hover {
    color:indianred;
}
.notAvail {
    color:indianred;
    opacity:0.7;
    font-size:1.5rem;
    margin-top:12px;
}
/**** single book view ****/
.title {
    font-size:4em;
    font-weight:300;
}
.bookcont {
    margin-bottom:30px;
}

/***  breakpoints ***/
@media screen and (max-width:504px) {
    .signup {
        margin-left:0px;
        width:100%;
    }
}

@media screen and (max-width:504px){
    .jumbotron {
        display:none;
    }

}
@media screen and (max-height:569px) {
    .mForm {
        max-height:465px;
        margin-top:65px;
    }
}

@media screen and (max-width:767px) {
    .sidebar {
        display:none;
    }
}


@media screen and (max-width:767px) {
    .sidebar {
        display:block !important;
    }
}

@media screen and (max-width:767px) {
    .animateMe {
        transition: all 1s;
        margin-left:0px;
        margin-right:0px;
        padding:20px;
    }
}

@media screen and (max-width:650px) {
    .sidebar { 
        
    }
}

/*@media screen and (max-width:767px) {
    .main,.name {
        margin-left:0px;
        margin-right:0px;
        padding:20px;
    }
}; */




