@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/** navbar style **/

#navbar ul:first-child > li:hover, #navbar .option { color: white;}

#navbar ul:first-child li:hover > a, #navbar ul:first-child li:hover > a:visited, #navbar .option, #navbar .option:visited { background: none; }

.navbar {
    background-color:#324C61;
}
.navbar-brand {
    color:darkblue;
}
.clicked {
    background:white;
}
.signoutBtn {
    border:none;
    outline:none;
    background-color:transparent;
}

.navbar-brand,.navbar-brand:hover,.navbar-brand:active, .navbar-brand:visited {
    outline:none;
    color:whitesmoke;
}
.active{ 
    border-radius:10px;
    background-color:gray;
    opacity:0.4;
    border:none;
    outline:none;

}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #223442;
    border-right: 1px solid #eee;
}

@media screen and (max-width:767px) {
    .sidebar {
        display:none;
    }
}

.main {
    margin-top:51px;
    margin-left:270px;
}

@media screen and (max-width:767px) {
    .main,.name {
        margin-left:0px;
        margin-right:0px;
        padding:20px;
    }
};




