<section ng-controller='BookController' ng-init='allBooks()'>
    <div ng-repeat='book in books'>
        <a href="/#!/books/{{book._id}}">{{book.title}}</a>
        <!-- if image display image -->
        <div ng-if="book.image">
            <img ng-src={{book.image}}>
        </div>
        
        <!-- if book is available and does not belong to current user display trade -->
        <div ng-if=" book.owner._id !== user._id && book.available" ng-init="id=book._id">
            <button type="button" ng-click="trade(id)">request for trade</button>
        </div>
        
        
    </div>
<!-- display all books -->
</section>