
<section ng-controller="BookController" ng-init="getBook()">
    
    <h1>Title: {{book.title}}</h1>
    
    <div ng-if='book.image'>
        <img ng-src={{book.image}}>
    </div> 
    
    <div ng-if='user._id === book.owner._id' ng-init="id=book._id">
        <button type="button" ng-click='deleteBook(id)'>delete</button>
    </div>
    
    <div ng-if="book.available && user._id !== book.owner._id" ng-init="id=book._id">
        <button type="button" ng-click="trade(id)">Request trade</button>
    </div>
    <div ng-hide="book.available">
        <h1>This book is not available for trade requests!</h1>
    </div>
    
</section>