<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>
  
  <body dynamic-background ng-cloak>


      <section ng-view ng-cloak></section>
      
      <% include ./partials/links %>
  </body>
</html>
